@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
body {
    background-color: #333;
}
nav .navbar-brand {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}

.jumbotron .container {
	margin: auto;
	padding: auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.4);
}
.jumbotron{
	background:url('../images/bg3.png') repeat-x;
	text-shadow:0px 1px 0px #000;
	color:white !important;
}
h1{
	font-weight:400;
}
.jumbotron ol li p{
	font-size:16px;
}
.jumbotron p, .jumbotron label, .jumbotron ol, .jumbotron li{
	color:white;
	text-align:left;
}
.jumbotron li{
	line-height:2;
	font-size: 16px;
}
.jumbotron label{
	color:white;
}


.container2 {
	margin: 0 auto;
	width: 70%;
	font-family: 'Raleway', 'courier', 'serif';
}

.jumbotron .container2 p {
	box-sizing: border-box;
	font-family: Raleway, courier, serif;
	font-size: 14px;
	line-height: 20px;
}

.jumbotron .container2 h1 {
	color: #333;
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	text-transform: uppercase;
}
.menu_top {
	padding: 10px 0;
}

.jumbotron h1 {
	color: #fff;
	font-size: 80px;
	font-weight: 600;
	text-transform: uppercase;
}

.jumbotron {
	padding-top: 100px;
	margin-bottom: 0px;
}

.btn-lg {
	margin-top: 20px;
	text-transform: uppercase;
	font-family: 'Raleway', 'courier', 'serif';
	font-weight: 300;
}

.top-btn {
	background-color: #00B200;
	color: #fff;
	border: 0px;
}

.col-md-4 h2 {
	font-family: 'Raleway', 'courier', 'serif';
	font-weight: 1000;
}

.btn-lg:hover {
	opacity: 0.9;
}

#footer {
	background-color: #333;
	height: 100px;
}

footer p {
	color: #fff;
	margin-top: 15px;
}

footer {
    clear: both;
}
.btn-success {
    background-color: #00B200;
    border: 1px solid #333;
}

.btn-danger {
	background-color: #00B200;
    border: 1px solid #333;
}

.super_container {
	background-color: #fff;
}

.row {
	margin-top: 20px;
}

@media screen and (max-width: 321px) {
    .jumbotron h1 {
	font-size: 50px;
    }
}

@media screen and (max-width: 603px) {
    .jumbotron h1 {
	font-size: 42px;
    }
}

#tiss {
    background-color: white;
    font-size: 25px;
    color: red;
    width: 500px;
    height: 200px;
}

.navbar-form {
	margin: 0;
	padding: 0;
}

.regtable{
	width:500px;
	margin:10px auto 0;
}
.regtable tr td{
	padding:0 0 5px;
}
input[type="text"], input[type="email"], input[type="password"]{
	padding:5px;
	width:100%;
}
.inlinecenter{
	text-align:center !important;
}
.navbar{
	padding:10px 0;
}
.memberlist{
	width:100%;
}
.member{
	width:100%;
	text-align:left;
	color:white;
	border-bottom:2px solid #fff;
	width:100%;
	font-size:18px;
}
.member td:first-child{
	max-width:7px;
	text-align:center;
	background:#cd3333;
}
.membername a{
	color:#fff;
	display:block;
	background-color: rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.2);
	padding:3px 10px;
	cursor:pointer;
	padding-top:15px;
}
.member td{
	padding-top:15px;
}
.alignleft{
	text-align:left !important;
}
.alignleft h1{
	text-align:center !important;
}
.membername{padding-top:0 !important;}
.regtable{color:white;}
.regtable td{padding-top:15px;}
.regtable input{color:black;}
.uimgt{
	width:80px;
}
.unamet{
	text-align:left;
	padding:0 10px;
}
.utable{
	width:100%;
}
@media screen and (max-width: 1200px){
	.col-md-4{width:100% !important;float:none;}
	.fb-page{width:100%;}
}
.jquery-ui-tumblr-rss-entry:first-child{
	margin-top: 0;
}
.jquery-ui-tumblr-rss-entry{
	margin:5px -15px;
	padding:5px 15px;
	border-bottom:1px solid #aaa;
	box-shadow: 0 4px 2px -2px gray;
}
.jquery-ui-tumblr-rss-entry cite, .postLink{
	display:none;
}

.jquery-ui-tumblr-rss-entry time {
	float: right;
}

.regularTitle{
	font-weight:bold;
	font-size:16px;
}
@media (max-width: 775px){
	.navbar-header{
		float:left !important;
	}
	.navbar-right{
		text-align:right;
	}
	.navbar-right span{
		display:none;
	}

	.upacf-cont{
		width:auto !important;
	}
	.navbar-toggle.collapsed{
		display:none;
	}
	.btn-group>.btn:first-child{
		margin-left:18px !important;
	}
}
@media (min-width: 768px){
.navbar-right {
margin-right:0 !important;
	}} 
	.navbar-right span{
		color:#aaa;
	}
	.navbar-right span strong a{
		color:#aaa;
	}
	.navbar-right span strong{
		text-decoration:underline;
	}

	.faqt{
		width:100%;
	}
	.faqt tr{

	}
	.faqt td{
		font-size:16px;
		padding:20px 10px;
		border-top:1px solid #aaa;
		max-width:70%;
	}
	.faqt tr td:first-child{
		border-left:1px solid #aaa;
		width:255px;
	}

	.faqt tr:nth-child(odd){
		background:#eee;
	}

	.widesearch{
		display: inline;
		width: 100%;
		float: left;
		font-size: 15px;
		padding: 10px;
		outline: none;
		color: black;
	}
	.countdown div{
		display:inline-block;
		margin:0 10px;
		font-weight:300;
		font-size:18px;
		background-color: rgba(0, 0, 0, 0.4);
		background: rgba(0, 0, 0, 0.4);
		padding:5px 20px;
	}
	.countdown div span{
		display:block;
		color:#aaa;
	}
	.countdown div strong{
		color:#eee;
	}

.faqt tr td:last-child:before{
	content:"Svar >>"; 
	color:#999;
	font-size:14px;
	display:inline-block;
	padding:0 5px 0 0;
}
.faqt tr.faqheading td:last-child:before{
		content:"";
		padding:0;
		display:none;
	}
.redi{background-color:#cd3333;}
.redi:hover{
	background-color:darkred;
	border-color:#333;
}
.redi:active, .redi:focus{
	background-color:darkred;
}

.faqheading:before{
content: ;
}

.faqt {
	border-right: 1px solid #aaa;
}

span.glyphicon{
	color:#fff;
}

.input_field.glyphicon.glyphicon-search {
	position: absolute;
	left: 22px;
	top: 10px;
	color: black;
}

#search {
	padding-left: 50px;
	padding-left: 65px;
}

.fuckthis {
	position: relative;
}
span.glyphicon{color:#fff;}
.upacf{
  /*background:rgba(170, 170, 170, 0.5);
  */
  border-left:1px solid #ddd;
  float:left;
  padding:10px;
  border-radius:5px;
  max-width:410px;
  margin:10px;
}
.upacf-cont{
    /*width: 800px;*/
    margin: 0 auto;
}
.upacf table thead tr td{color:#fff !important;font-weight:bolder;}
.upacf input[type="text"], .upacf input[type="email"], .upacf input[type="password"], .upacf input[type="number"]{
  width:300px;
  /* color:#333; */
  border-radius:3px;
}
.upacf tr td{
	padding-top:10px;
  /*color:#fff;*/
}
.upacf table{
	margin:-10px -10px 0;
  border-radius:5px;
  min-width:350px;
}

/*
.upacf tr:first-child td{
	padding-top:0;
}*/
.upacf tr td{
	padding-right:10px;
}
.upacf tr td:first-child{
	padding:0 10px;
}
.upacf table thead{
	background:#00B200;
	margin-bottom:10px;
	font-size:20px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.upacf table thead tr td{
	padding:10px 10px !important;
	font-weight:400;
}
.newsub{
	padding:5px 25px;
}
.upacf table tfoot tr td{
	padding-top:15px !important;
	text-align:right;
}
.clear{clear:both;}
.divider-sg{
	border-bottom:1px solid #eee;
}

.link-header {
	font-weight: bold!important;
	color: red;
}
.dz-default{
    background: #00B200;
    padding: 20px;
    border: 5px dotted darkgreen;
    cursor:pointer;
    width:100%;
}
.dz-error-message{
	color:red;
}
.dz-image{
    float: left;
    margin: 6px;
}
/*.dz-success-mark, .dz-error-mark{
	display:none;
}*/
.dz-default span{
	font-weight:bold;
}
.dz-drag-hover .dz-default{
	background:darkgreen;
}
.topmenform{
	display:inline-block;
	margin:0;
}
.topmenform input{
	margin:0 5px;
	font-size:13px;
	background:rgba(8, 8, 8, 0.1);
	color:#fff;
	border:none;
	outline:none;
	border-bottom:1px solid #00B200;
}
.membername a:focus{
	background:rgba(255, 255, 255, 0.5);
	outline:none;
	text-decoration:none;
}
.uimgt a{
	display:block;
	width:80px;
	height:80px;
	overflow:hidden;
}

.creturn{/*margin:0 auto;*/width:500px;}
.creturn td{
    padding-top:10px;
}
.creturn select{
	width:100%;
}
.creturn textarea{
    border-color:#ccc;
    width:100%;
    max-width:100%;
}
.errorsss{
    position:absolute;
    display:block;
    font-size:22px;
    color:red;
    top:10px;
    left:10px;
}
#copybutt{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
.error-code{
    display:block;
    position:absolute;
    top:70px;
    left:5px;
    padding:10px;
    color:#fff;
    font-weight:bold;
    z-index:1000;
}
.tournament-list{
    list-style:none;
    margin:10px 0;
    padding:0 0;
}
.tournament-list li{
	position:relative;
}
.tournament-list li, .tournament-list li a{
    display:block;
}
.gotolink{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	vertical-align: text-bottom;
}
.gotolink span{
	position:absolute;
	display:block;
	background:rgba(8, 8, 8, 0.4);
	bottom:10px;
	left:10px;
	font-size:32px;
	padding:5px 10px;
	color:#fff;
	text-shadow:0px 1px 1px #000;
}
.adminlinks{
	position:absolute;
	bottom:10px;right:105px;
}
.adminlinks a,.brukerlinks a{
	background:#cd3333;
	padding:4px 10px;
	color:#fff;
	border-radius:2px;
	display:inline-block !important;
	font-size: 14px;
}

.brukerlinks{
	position:absolute;
	bottom:10px;right:5px;
}

.brukerlinks a:hover,.adminlinks a:hover{
	background: darkred;
	text-decoration: none;
}

.tournament-list .game a {
	background:url("../images/game-default.png") top left no-repeat;
}

.tournament-list li img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

}

.tournament-list li:hover img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.cpp {
	margin: 10px auto;
	display: block;
	max-width: 200px;
	max-height: 200px;
	min-width: 200px;
	min-height: 150px;
}*/

.terms-cont {
	color: #fff;!important
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding: 20px 5px;
	margin-top: 10px;
	border: 2px solid black;
}

.terms-content li {
	font-size: 16px;
	line-height: 25px;
}

.super_container {
	background-color: #fff;!important
}

.panel-heading.blue {
	background-color: ##337ab7;!important
}

.panel.panel-primary.blue {
	background-color: ##337ab7;!important
}

.panel-title {
	text-align: center;
}

.uimgt a img {
	min-width: 80px;
	max-width: 80px;
	min-height: 80px;
}

.promote a {
	background:#cd3333;
	padding:4px;
	color:#fff;
	border-radius:2px;
	display:inline-block !important;
	font-size: 16px;
}

.faqheading {
	background-color: #ab7;!important
}
/* Den gamle koden for å få bootstrap panels te å bli grønne

.panel-primary>.panel-heading {
	background-color: #00B200;
	border-color: #00B200;
}

.panel-primary {
	border-color: #00B200;
}

*/
.p-wrap{
	margin:5px auto;
}
.p-wrap.small{
	width:80px;
	height:80px;
	overflow:hidden;
}
.p-wrap.small img{
	min-width:80px;
	max-width:80px;
	min-height:80px;
}
.p-wrap.large{
	width:200px;
	height:200px;
	overflow:hidden;
}
.p-wrap.large img{
	min-width:200px;
	max-width:200px;
	min-height:200px;
}


/*
Note to self: #ab7; e den søteste grønnfargen noensinne. Eg vil ha faqheadings i den fargen uten at det påvirke child elementså
*/

.contactform {
	color: #333;!important
}

#carousel-example-generic {
	border: 2px solid #333;
	margin-bottom: 40px;
}