body {
    background-color: #333;
}

nav .navbar-brand {
	font-family: 'Raleway', 'courier', 'serif';
	font-weight: 800;
	text-transform: uppercase;
}

.jumbotron .container {
	margin: auto;
	padding: auto;
	text-align: center;
	font-family: 'Raleway', 'courier', 'serif';
	background-color: rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.4);
	color: rgba(0, 0, 0, 0.4);
}
.jumbotron{
	background:url('../images/bg2.png') repeat-x;
	text-shadow:0px 1px 0px #000;
	color:white !important;
}
.jumbotron p{
	color:white;
}
.jumbotron label{
	color:white;
}
<<<<<<< HEAD
=======

.container2 {
	margin: 0 auto;
	width: 70%;
	font-family: 'Raleway', 'courier', 'serif';
}

.jumbotron .container2 p {
	box-sizing: border-box;
	font-family: Raleway, courier, serif;
	font-size: 14px;
	line-height: 20px;
}

.jumbotron .container2 h1 {
	color: #333;
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	text-transform: uppercase;
}

>>>>>>> e920bb0a8f7deb66d0a2e413f3c3a1ec8a02003c
.menu_top {
	padding: 10px 0;
}

.jumbotron h1 {
	color: #fff;
	font-size: 80px;
	font-weight: 600;
	text-transform: uppercase;
}

.jumbotron {
	padding-top: 100px;
	margin-bottom: 0px;
}

.btn-lg {
	margin-top: 20px;
	text-transform: uppercase;
	font-family: 'Raleway', 'courier', 'serif';
	font-weight: 300;
}

.top-btn {
	background-color: #00B200;
	color: #fff;
	border: 0px;
}

.col-md-4 h2 {
	font-family: 'Raleway', 'courier', 'serif';
	font-weight: 1000;
}

.btn-lg:hover {
	opacity: 0.9;
}

.panel-title {
	text-align: center;
}

.panel-primary>.panel-heading {
	background-color: #00B200;
	border-color: #00B200;
}

.panel-primary {
	border-color: #00B200;
}

<<<<<<<<<<<#footer {
	background-color: #333;
	height: 100px;
}

footer p {
	color: #fff;
	margin-top: 15px;
}

footer {
    clear: both;
}
.btn-success {
    background-color: #00B200;
    border: 1px solid #333;
}

.super_container {
	background-color: #fff;
}

.row {
	margin-top: 20px;
}

@media screen and (max-width: 321px) {
    .jumbotron h1 {
	font-size: 50px;
    }
}

@media screen and (max-width: 603px) {
    .jumbotron h1 {
	font-size: 42px;
    }
}

#tiss {
    background-color: white;
    font-size: 25px;
    color: red;
    width: 500px;
    height: 200px;
}

.navbar-form {
	margin: 0;
	padding: 0;
}

.regtable{
	width:500px;
	margin:10px auto 0;
}
.regtable tr td{
	padding:0 0 5px;
}
input[type="text"], input[type="email"], input[type="password"]{
	padding:5px;
	width:100%;
}